:root {
    --primary-green-lightest: #E6F7EC;
    --primary-green-light: #33BC65;
    --primary-green-main: #00AB3E;
    --primary-green-dark: #00782B;
    --primary-green-darkest: #004419;

    --primary-orange-lightest: #FDEFEB;
    --primary-orange-light: #EB805D;
    --primary-orange-main: #e66034;
    --primary-orange-dark: #A14324;
    --primary-orange-darkest: #5C2615;

    --warning-main: #F79009;
    --error-main: #F04438;
    --info-main: #06AED4;

    --white: #FFFFFF;
    --black: #000000;
    --grey-50: #F8F9FA;
    --grey-100: #F3F4F6;
    --grey-400: #9DA4AE;
    --grey-500: #6C737F;
    --grey-600: #4D5761;
    --grey-700: #2F3746;
    --grey-800: #1C2536;
    --grey-900: #111927;


    --h1: 1.6rem;
    --h2: 1.5rem;
    --h3: 1.3rem;
    --h4: 1.2rem;
    --h5: 1.1rem;
    --h6: 1.0rem;
    --p: 0.9rem;
    --link: 0.9rem;
}

