.kycSubmitPage{
    display: flex;
    background: transparent;
    width: max-content;
    backdrop-filter: blur(10px);
    height: auto;
    margin: 0 auto;
    border: 1px solid grey;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-weight: bold;
    .label{
        display: flex;
        align-items: flex-start;
    }
    .submit-btn{
        color: var(--grey-900);
        background-color: var(--primary-green-light)
    }
}